header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px 50px;
}

.header-title {
  font-size: 2.2rem;
  color: #fff;
  margin: 0;
}

.header-title a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-title a:hover {
  color: #C2C2C2;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #C2C2C2;
}
